/* killboard widget
----------------------------------------------------------------------------- */
@media all {
	.eve-online-killboard-widget ul {
		list-style-type: none;
		padding-left: 0 !important;
	}

	.eve-online-killboard-widget .killboard-entry {
		margin-bottom: 16px;
		margin-bottom: 1rem;
	}

	.eve-online-killboard-widget .killboard-entry:last-child {
		margin-bottom: 0;
	}

	.eve-online-killboard-widget .kill-list-loss-mail {
		border-right: 1px solid rgb(206,72,68);
	}

	.eve-online-killboard-widget .kill-list-kill-mail {
		border-right: 1px solid rgb(0,255,0);
	}

	.eve-online-killboard-widget-pilot-information {
		position: absolute;
		display: flex;
		bottom: 0;
		right: 15px;
		left: 15px;
		background: rgba(0,0,0,0.65);
	}

	.eve-online-killboard-widget-pilot-information > span {
		margin-bottom: 0;
		flex-basis: 33.333333%;
		text-align: center;
	}
}

@media all and (min-width: 1200px) {
	.eve-online-killboard-widget ul {
		font-size: 80%;
	}
}

@media all and (min-width: 1600px) {
	.eve-online-killboard-widget ul {
		margin-top: 8px;
		font-size: 80%;
	}

	.eve-online-killboard-widget .killboard-entry {
		display: flex;
	}
}
